# Copyright (c) Mainflux
# SPDX-License-Identifier: Apache-2.0

version: "3.7"

networks:
  docker_mainflux-base-net:
    external: true

volumes:
  mainflux-agent-volume:

services:
  mainflux-agent:
    image: mainflux/agent:latest
    container_name: mainflux-agent
    restart: on-failure
    environment:
      MF_AGENT_BOOTSTRAP_ID: ${MF_AGENT_BOOTSTRAP_ID}
      MF_AGENT_BOOTSTRAP_KEY: ${MF_AGENT_BOOTSTRAP_KEY}
      MF_AGENT_BOOTSTRAP_URL: ${MF_AGENT_BOOTSTRAP_URL}
    ports:
      - ${MF_AGENT_PORT}:${MF_AGENT_PORT}
    networks:
      - docker_mainflux-base-net
    volumes:
      - ../configs/config.toml:/config.toml
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt
  mainflux-agent-modbus:
    image: mainflux/modbus:latest
    container_name: mainflux-agent-modbus
    restart: on-failure
    environment:
      MF_AGENT_BOOTSTRAP_ID: ${MF_AGENT_BOOTSTRAP_ID}
      MF_AGENT_BOOTSTRAP_KEY: ${MF_AGENT_BOOTSTRAP_KEY}
      MF_AGENT_BOOTSTRAP_URL: ${MF_AGENT_BOOTSTRAP_URL}
    networks:
      - docker_mainflux-base-net
    volumes:
      - ../configs/config.toml:/config.toml
      - ../configs/export/config.toml:/configs/export/config.toml
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt

